
@model SalesPerson
@{
    ViewBag.Title = "Register";

    string ProvincessID = " ";
    ViewBag.PRO = ProvincessID;
    <script>
        var srlProvs = "@ViewBag.Prov_s"
        var srlCities = "@ViewBag.City_s";
        var srlSuburbs = "@ViewBag.Suburb_s";
    </script>
}


<h1></h1>

<div asp-validation-summary="All" class="text-danger"> </div>
<form method="post" asp-controller="Employees" asp-action="Edit">

    <div class="form-group row">
        <div class="col-sm-9">

            <div class="col-sm-7">
                <label>First Name</label>
                <input asp-for="SalesPersonName" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="SalesPersonName"
                      class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group row" hidden="hidden">
        <div class="col-sm-9">

            <div class="col-sm-7">
                <label>First Name</label>
                <input asp-for="UserID" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="UserID"
                      class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9">

            <div class="col-sm-7">
                <label>Surname Name :</label>
                <input asp-for="SalesPersonSurname" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="SalesPersonSurname"
                      class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <div class="col-sm-9">

            <div class="col-sm-7">
                <label>Gender :</label>
                <select asp-for="Gender" class="form-control">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="col">
                <span asp-validation-for="Gender"
                      class="text-danger"></span>
            </div>
        </div>
    </div>



    <div class="form-group row">
        <div class="col-sm-9">

            <div class="col-7">
                <label>Contact Number :</label>
                <input asp-for="SalesPersonContact" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="SalesPersonContact"
                      class="text-danger"></span>
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-9">
            <div class="col-sm-7 row">
                <label>Email Address :</label>
                <input asp-for="SalesPersonEmail" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="SalesPersonEmail"
                      class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-9">
            <div class="col-sm-7 row">
                <label>Position :</label>
                <input asp-for="GradeLevel" class="form-control" />
            </div>
            <div class="col">
                <span asp-validation-for="GradeLevel"
                      class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-9">

            <div class="col-sm-7">
                <label>Department :</label>
                <select asp-for="DeptID" asp-items="@(new SelectList(ViewBag.Departments, "DeptID", "DepartmentName"))" class="form-control">
                </select>
            </div>
            <div class="col">
                <span asp-validation-for="DeptID"
                      class="text-danger"></span>
            </div>
        </div>
    </div>





    <script>
        var thisProvinces = document.getElementById('pageProvinceElement');
        var thisCities = document.getElementById('pageCityElement');
        var thisSuburbs = document.getElementById('pageSuburbElement');
        if (typeof srlProvs !== "undefined") {
            const allProvs = JSON.parse(srlProvs.replace(/&quot;/g, '"'));
            const allCities = JSON.parse(srlCities.replace(/&quot;/g, '"'));
            const allSuburbs = JSON.parse(srlSuburbs.replace(/&quot;/g, '"'));
            thisCities.innerHTML = "";
            for (var i = 0; i < allCities.length; i++) {
                var obj = allCities[i];
                let selectedProvince = thisProvinces.options[thisProvinces.selectedIndex].value;
                if (selectedProvince == obj["ProvinceID"]) {
                    let newOption = new Option(obj["Name"], obj["CityID"]);
                    thisCities.add(newOption, undefined);
                }
            }
            thisSuburbs.innerHTML = "";
            for (var i = 0; i < allSuburbs.length; i++) {
                var obj = allSuburbs[i];
                let selectedCity = thisCities.options[thisCities.selectedIndex].value;
                if (selectedCity == obj["CityID"]) {
                    let newOption = new Option(obj["Name"], obj["SuburbID"]);
                    thisSuburbs.add(newOption, undefined);
                }
            }
            if (thisProvinces) {
                thisProvinces.addEventListener("change", function () {
                    thisCities.innerHTML = "";
                    for (var i = 0; i < allCities.length; i++) {
                        var obj = allCities[i];
                        let selectedProvince = thisProvinces.options[thisProvinces.selectedIndex].value;
                        if (selectedProvince == obj["ProvinceID"]) {
                            let newOption = new Option(obj["Name"], obj["CityID"]);
                            thisCities.add(newOption, undefined);
                        }
                    }
                    thisSuburbs.innerHTML = "";
                    for (var i = 0; i < allSuburbs.length; i++) {
                        var obj = allSuburbs[i];
                        let selectedCity = thisCities.options[thisCities.selectedIndex].value;
                        if (selectedCity == obj["CityID"]) {
                            let newOption = new Option(obj["Name"], obj["SuburbID"]);
                            thisSuburbs.add(newOption, undefined);
                        }
                    }
                })
            }
            if (thisCities) {
                console.log("prov defined");
                thisCities.addEventListener("change", function () {
                    thisSuburbs.innerHTML = "";
                    for (var i = 0; i < allSuburbs.length; i++) {
                        var obj = allSuburbs[i];
                        let selectedCity = thisCities.options[thisCities.selectedIndex].value;
                        console.log(selectedCity);
                        if (selectedCity == obj["CityID"]) {
                            let newOption = new Option(obj["Name"], obj["SuburbID"]);
                            thisSuburbs.add(newOption, undefined);
                        }
                    }
                });
            }
        }</script>



    <div class="col-sm-2 align-content-end">
        <button type="submit" class="btn btn-danger" form-control>
            Save
        </button>

        <button class="btn btn-danger" asp-controller="Admin" asp-action="Index">Cancel</button>
    </div>


</form>


